#container{
  margin: 2em 0;
}

.row {
  display: flex;
  width: 100%;
  box-sizing: border-box;;
  background-color: rgba(30, 10, 120, 0.1);
}
.square {
  border: 1px solid transparent;
}
.square:hover{
  background-color: red;
  border: 1px solid transparent;
  height: auto;
  width: auto;
}