#container{
  margin: 2em 0;
}

.row {
  width: 100%;
  border: 2px solid gold;
  background-color: rgba(30, 10, 120, 0.5);
  box-sizing: border-box;
}
.square {
  border: 2px solid red;
  background-color: rgba(30, 10, 120, 0.5);
  box-sizing: border-box;
}